[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;all/allfiles;
Actions=openInAzTerm;
X-KDE-Priority=TopLevel

[Desktop Action openInAzTerm]
Name=Open in AZTerm Here
Icon=azterm
Exec=bash -c 'if [ -d "%f" ]; then azterm -d "%f"; else azterm -d "%d"; fi'
